@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@layer base {
  html {
    @apply text-xl; /* Changes default size from 16px to 18px */
  }
}

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "fantasy";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(27.807% 0.029 256.847);
  --color-primary: oklch(37.45% 0.189 325.02);
  --color-primary-content: oklch(87.49% 0.037 325.02);
  --color-secondary: oklch(53.92% 0.162 241.36);
  --color-secondary-content: oklch(90.784% 0.032 241.36);
  --color-accent: oklch(75.98% 0.204 56.72);
  --color-accent-content: oklch(15.196% 0.04 56.72);
  --color-neutral: oklch(27.807% 0.029 256.847);
  --color-neutral-content: oklch(85.561% 0.005 256.847);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


.fc {
    --fc-border-color: var(--color-base-300);
    --fc-daygrid-day-bg-color: var(--color-base-100);
    --fc-daygrid-day-text-color: var(--color-base-content);
    --fc-button-bg-color: var(--color-primary);
    --fc-button-text-color: var(--color-primary-content);
    --fc-button-border-color: var(--color-primary);
    --fc-button-hover-bg-color: var(--color-secondary);
    --fc-button-hover-border-color: var(--color-secondary);
    --fc-button-active-bg-color: var(--color-secondary);
    --fc-button-active-border-color: var(--color-secondary);
    --fc-today-bg-color: var(--color-base-200);
    --fc-event-bg-color: var(--color-accent);
    --fc-event-border-color: var(--color-accent);
    --fc-event-text-color: var(--color-accent-content);
}

.fc .fc-button {
    @apply shadow-lg;
}


