/so-connect/*.log
/so-connect/.DS_Store
/so-connect/.env
/so-connect/.env.backup
/so-connect/.env.production
/so-connect/.phpactor.json
/so-connect/.phpunit.result.cache
/so-connect/.fleet
/so-connect/.idea
/so-connect/.nova
/so-connect/.phpunit.cache
/so-connect/.vscode
/so-connect/.zed
/so-connect/auth.json
/so-connect/node_modules
/so-connect/public/build
/so-connect/public/hot
/so-connect/public/storage
/so-connect/storage/*.key
/so-connect/storage/pail
**/vendor
/so-connect/Homestead.json
/so-connect/Homestead.yaml
/so-connect/Thumbs.db
/so-connect/vendor/
