<!DOCTYPE html>
<html>
<head>
    <title>My Documents</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h2>My Documents</h2>

    <table>
        <thead>
            <tr>
                <th>Document</th>
                <th>Organization</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
